/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:48px 'Rosamunda Two', sans-serif; background:#FFFFFF; color:#484848; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Rosamunda Two', sans-serif; color:#484848; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100%; }

@font-face {
    font-family: 'Rosamunda Two';
    src: url('../fonts/rosamunda_two.eot');
    src: url('../fonts/rosamunda_two.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rosamunda_two.woff2') format('woff2'),
        url('../fonts/rosamunda_two.woff') format('woff'),
        url('../fonts/rosamunda_two.ttf') format('truetype'),
        url('../fonts/rosamunda_two.svg#rosamunda_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-thin.eot');
    src: url('../fonts/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-thin.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-thin.woff') format('woff'),
        url('../fonts/helveticaneuecyr-thin.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr-thin.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------HEADER-WRAP------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    position: relative;
    height: 1080px;
}
    .header-top {
        position: relative;
        z-index: 2;
        height: 120px;
        background-color: rgba(255, 249, 238, 0.7);
    }
    .nav-container {
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: rgba(255, 249, 238, 0.85);
    }
        .header,
        .main-content,
        .footer {
            position: relative;
            width: 1024px;
            margin: 0 auto;
            padding-bottom: 10px;
            color: #624f2e;
        }
        .header-nav,
        .search-container {
            position: relative;
            width: 1024px;
            margin: 0 auto;
        }
            .phone {
                position: absolute;
                right: -60px;
                z-index: 10;
                float: right;
                margin-top: 15px;
                font: 700 14px 'PT Sans', sans-serif;
            }
                .fa-phone {
                    position: relative;
                    top: 3px;
                    width: 28px;
                    height: 28px;
                    border: 1px solid #624f2e;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
                    font-size: 20px !important;
                    line-height: 30px !important;
                    text-align: center;
                }
                .phone span {
                    font-size: 27px;
                }
            .logo {
                overflow: hidden;
                position: relative;
                left: 12%;
                height: 138px;
                margin-top: -10px;
                word-spacing: 100px;
            }
                .logo a {
                    display: inline-block;
                    height: 120px;
                    text-decoration: none;
                    font: 128px 'Rosamunda Two', sans-serif;
                    color: #624f2e;
                }
                .logo a:hover {
                    text-decoration: none;
                }

    .search_form {
        position: relative;
        z-index: 5;
        width: 160px;
        height: 30px;
        background-color: rgba(255, 249, 238, 0.75);
        border: 1px solid #B4AD9D;
        border-top: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
        .search_form input[type="text"]{
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            padding: 6px 0 7px 10px;
            line-height: 20px;
            border: none;
            background-color: transparent;
            font: 400 13px "PT Sans", sans-serif;
            color: #7b694c;
        }
        .search_form input[type="submit"]{
            position: relative;
            z-index: 10;
            float: right;
            width: 30px;
            height: 100%;
            border: none;
            background-color: transparent;
        }
        .fa-search {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: 14px !important;
            color: #7b694c;
        }
/*---------------------------------NAV-CONTAINER-------------------------------------*/
.nav {
    float: left;
    position: relative;
    z-index: 5;
}
    .nav li {
        float: left;
    }
        .nav a {
            display: block;
            margin: 24px 23px 22px;
            text-decoration: none;
            text-transform: uppercase;
            font: 700 26px Arial, sans-serif;
            color: #7a6746;
        }
        .nav a:hover {
            color: #50432E;
        }
        .nav li:first-child a {
            margin-left: 0;
        }

.work-schedule {
    position: absolute;
    right: -70px;
    top: 15px;
}
    .work-schedule span {
        display: block;
        font: 700 14px Arial, sans-serif;
        color: #918266;
    }
/*-----------------------------------SLIDER------------------------------------------*/
#container {
    position: absolute;
    top: 88px;
    width: 100%;
    height: 800px;
}
        #mySlides > div img {
            width: 100%;
            height: 100%;
            min-height: 800px;
            max-height: 1200px;
        }
    .jFlowPrev span {
        position: absolute;
        bottom: 40%;
        left: 40px;
        display: inline-block;
        height: 86px;
        width: 46px;
        background: url("../images/slider/slider_arrows.png") no-repeat scroll 0 0 transparent;
        cursor: pointer;
    }
    .jFlowNext span {
        position: absolute;
        bottom: 40%;
        right: 40px;
        display: inline-block;
        height: 86px;
        width: 46px;
        background: url("../images/slider/slider_arrows.png") no-repeat scroll -46px 0 transparent;
        cursor: pointer;
    }
/*-------------------------------------CATALOG--------------------------------------*/
.catalog {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 26px 0;
    background: url("../images/header/bg_catalog.png") repeat-x;
    text-align: center;
}
    .catalog li {
        display: inline-table;
    }
        .catalog li a {
            overflow: hidden;
            display: block;
            width: 142px;
            height: 140px;
            background-color: rgba(255, 255, 255, 0.9);
            -webkit-border-radius: 71px;
            -moz-border-radius: 71px;
            border-radius: 71px;
            border: 1px solid #2B221D;
            text-decoration: none;
        }
        .catalog li a:hover {
            background-color:  rgba(171, 148, 129, 0.6);
        }
            .box-catalog {
                position: relative;
                display: block;
                height: 88px;

                -webkit-border-top-left-radius: 35px;
                -webkit-border-top-right-radius: 35px;
                -moz-border-radius-topleft: 35px;
                -moz-border-radius-topright: 35px;
                border-top-left-radius: 35px;
                border-top-right-radius: 35px;
            }
                .box-catalog img {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                }
            .name-item-catalog {
                display: block;
                margin-top: 5px;
                text-transform: uppercase;
                text-decoration: none;
                font: 400 18px 'Helvetica Neue', sans-serif;
                color: #5a5a5a;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-content {
    padding-top: 10px;
    background: url("../images/bg_content.jpg") 0 535px repeat-x,
                url("../images/bg_goods.jpg") repeat-x;
}
.body-home .wrap-content {
    padding-bottom: 70px;
}
    .main-content {

    }
    .header-level-two {
        font-size: 50px;
        color: #5a5a5a;
    }
    .big-text {
        font-size: 32px;
        color: #484848;
    }
        .list-goods {
            overflow: hidden;
            margin-bottom: 45px;
            padding-bottom: 16px;
        }
            .list-goods li {
                float: left;
                width: 290px;
                height: 420px;
                margin-left: 68px;
                background: url("../images/content/bg_goods.png") no-repeat;
                background-size: 100% 100%;
            }
            .list-goods li:first-child {
                margin-left: 0;
            }
                .box-foto-goods {
                    position: relative;
                    height: 185px;
                    text-align: center;
                }
                    .foto-goods-size1,
                    .foto-goods-size2 {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                    }

            .header-goods {
                color: #5a5a5a;
                text-align: center;
            }
            .price-goods {
                display: block;
                padding-right: 20px;
                font: 34px arial;
                color: #483b2f;
                text-align: right;
            }
            .weight-goods {
                position: relative;
                display: block;
                padding: 30px 0;
                background: rgba(255, 255, 255, 0.1);
                color: #93877c;
                font: 30px arial;
                text-align: center;
            }
            .weight-goods:before {
                content: '';
                display: block;
                position: absolute;
                top: -5px;
                left: 140px;
                width: 12px;
                height: 12px;
                background: url("../images/content/icon_goods.png") no-repeat;
                background-size: 100% 100%;
            }
            .bt-buy-goods {
                padding: 6px 17px;
                margin-left: 75px;
                background-color: #ffffff;
                border: 1px solid #626160;
                border-top-color: #A9A298;
                border-right-color: #8D8982;
                font: 27px Arial;
                color: #483b2f;
                text-transform: uppercase;
            }
            .bt-buy-goods:hover {
                cursor: pointer;
            }
            .bt-buy-goods:active {
                background-color: #DDDDDD;
            }

        .header-with-line-right {
            position: relative;
            overflow: hidden;
        }
            .header-with-line-right:after {
                content: '';
                float: right;
                position: absolute;
                bottom: 15px;
                width: 100%;
                margin-left: 20px;
                border-bottom: 1px solid #C7BFB8;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
    position: relative;
    padding-bottom: 20px;
    background: #A28778;
}
    .body-home .wrap-top-footer {
        position: absolute;
        top: -100px;
        width: 100%;
        background: transparent;
    }
        .top-footer {
            overflow: hidden;
            width: 1024px;
            margin: 20px auto 30px;
        }
            .list-soc-links {
                margin-top: 10px;
            }
                .list-soc-links li {
                    float: left;
                    margin-right: 33px;
                }
                    .list-soc-links a {
                        display: block;
                        -webkit-box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.3);
                        -moz-box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.3);
                        box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.3);
                    }
                        .soc-vk i {
                            padding: 12px 12px 13px 11px;
                            background-color: #6996C7;
                        }
                        .soc-vk a:hover i {
                            background-color: rgba(105, 150, 199, 0.8);
                        }
                        .soc-tw i {
                            padding: 16px 14px 10px;
                            background-color: #28C3FF;
                        }
                        .soc-tw a:hover i {
                            background-color: rgba(40, 195, 255, 0.8);
                        }
                        .soc-fb i {
                            padding: 15px 18px 11px;
                            background-color: #496194;
                        }
                        .soc-fb a:hover i {
                            background-color: rgba(73, 97, 148, 0.8);
                        }
                        .soc-od a {
                            padding: 17px 24px 18px 25px;
                            background: url("../images/footer/icon_odnoklassniki.png") 18px 15px no-repeat #FF9C43;
                            background-size: 25%;
                            text-indent: -9999px;#CFCFCE
                        }
                        .soc-od a:hover {
                            background-color: rgba(255, 156, 67, 0.8);
                        }
                        .soc-gg i {
                            padding: 16px 16px 15px;
                            background-color: #FF6D4A;
                        }
                        .soc-gg a:hover i {
                            background-color: rgba(255, 109, 74, 0.8);
                        }
                        .list-soc-links i:before {
                            color: #fff;
                        }
                        .soc-vk i:before {
                            font-size: 24px;
                        }
                        .soc-fb i:before,
                        .soc-tw i:before {
                            font-size: 23px;
                        }
                        .soc-gg i:before {
                            font-size: 18px;
                        }

    .footer {
        overflow: hidden;
        padding-top: 20px;
        color: #5a5a5a;
    }
        a.logo-footer {
            float: left;
            width: 118px;
            height: 118px;
            margin-right: 10px;
            background: #D6BFAE;
            border: 1px solid #664A3C;
            font-size: 35px;
            line-height: 0.6;
            text-decoration: none;
            -webkit-box-shadow: inset 0 0 4px 0 rgba(50, 50, 50, 0.5);
            -moz-box-shadow: inset 0 0 4px 0 rgba(50, 50, 50, 0.5);
            box-shadow: inset 0 0 4px 0 rgba(50, 50, 50, 0.5);
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
        }
            .logo-footer > span {
                display: block;
                margin-top: 35px;
                margin-left: 6px;
            }
                .logo-footer > span span {
                    display: block;
                    margin-left: 10px;
                }

        .box-contact {
            float: left;
            overflow: hidden;
            margin-top: 15px;
            font-family: 'PT Sans', sans-serif;
        }
            .fa-phone-footer {
                float: left;
                width: 34px;
                height: 34px;
                margin-right: 15px;
                border: 2px solid #5a5a5a;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }
                .fa-phone-footer:before {
                    display: block;
                    margin-top: 3px;
                    font-size: 24px;
                }
            .phone-footer {
                float: left;
                font-size: 32px;
            }
            .address {
                display: block;
                margin-top: 20px;
                font-size: 18px;
                font-style: italic;
            }

        .list-right-footer {
            overflow: hidden;
            float: right;
            width: 350px;
        }
            .list-right-footer li {
                float: left;
                width: 175px;
                font: 20px 'PT Sans', sans-serif;
            }
                .list-right-footer a {
                    font: italic 20px 'PT Sans', sans-serif;
                    text-decoration: none;
                }
                .list-right-footer a:hover {
                    text-decoration: underline;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.p-left5 {
    padding-left: 5px;
}
.p-left12 {
    padding-left: 12px;
}