/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 26px 'Arial', sans-serif; background:#FFFFFF; color:#8f7b6a; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Arial', sans-serif; color:#484848; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100%; }

@font-face {
    font-family: 'Rosamunda Two';
    src: url('../fonts/rosamunda_two.eot');
    src: url('../fonts/rosamunda_two.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rosamunda_two.woff2') format('woff2'),
        url('../fonts/rosamunda_two.woff') format('woff'),
        url('../fonts/rosamunda_two.ttf') format('truetype'),
        url('../fonts/rosamunda_two.svg#rosamunda_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-thin.eot');
    src: url('../fonts/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-thin.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-thin.woff') format('woff'),
        url('../fonts/helveticaneuecyr-thin.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr-thin.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------HEADER-WRAP------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    position: relative;
    height: 1080px;
}
    .header-top {
        position: relative;
        z-index: 2;
        height: 120px;
        background-color: rgba(255, 249, 238, 0.7);
    }
    .nav-container {
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: rgba(255, 249, 238, 0.85);
    }
        .header,
        .main-content,
        .footer {
            position: relative;
            width: 1024px;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        .header-nav,
        .search-container {
            position: relative;
            width: 1024px;
            margin: 0 auto;
        }
            .phone {
                position: absolute;
                right: -60px;
                z-index: 10;
                float: right;
                margin-top: 15px;
                font: 700 14px 'PT Sans', sans-serif;
                color: #624F2E;
            }
                .fa-phone {
                    position: relative;
                    top: 3px;
                    width: 28px;
                    height: 28px;
                    border: 1px solid #624f2e;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    border-radius: 15px;
                    font-size: 20px !important;
                    line-height: 30px !important;
                    text-align: center;
                }
                .phone span {
                    font-size: 27px;
                }
            .logo {
                overflow: hidden;
                position: relative;
                left: 12%;
                height: 138px;
                margin-top: -10px;
                word-spacing: 100px;
            }
                .logo a {
                    display: inline-block;
                    height: 120px;
                    text-decoration: none;
                    font: 128px 'Rosamunda Two', sans-serif;
                    color: #624f2e;
                }
                .logo a:hover {
                    text-decoration: none;
                }

    .search_form {
        position: relative;
        z-index: 5;
        width: 160px;
        height: 30px;
        background-color: rgba(255, 249, 238, 0.75);
        border: 1px solid #B4AD9D;
        border-top: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
        .search_form input[type="text"]{
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            padding: 6px 0 7px 10px;
            line-height: 20px;
            border: none;
            background-color: transparent;
            font: 400 13px "PT Sans", sans-serif;
            color: #7b694c;
        }
        .search_form input[type="submit"]{
            position: relative;
            z-index: 10;
            float: right;
            width: 30px;
            height: 100%;
            border: none;
            background-color: transparent;
        }
        .fa-search {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: 14px !important;
            color: #7b694c;
        }
        .search_form input[type="submit"]:active + .fa-search {
            color: #50432E;
        }
/*---------------------------------NAV-CONTAINER-------------------------------------*/
.nav {
    float: left;
    position: relative;
    z-index: 5;
}
    .nav li {
        float: left;
    }
        .nav a {
            display: block;
            margin: 24px 23px 22px;
            text-decoration: none;
            text-transform: uppercase;
            font: 700 26px Arial, sans-serif;
            color: #7a6746;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
        .nav a:hover,
        .nav li.active a {
            color: #50432E;
        }
        .nav li:first-child a {
            margin-left: 0;
        }

.work-schedule {
    position: absolute;
    right: -70px;
    top: 15px;
}
    .work-schedule span {
        display: block;
        font: 700 14px Arial, sans-serif;
        color: #918266;
    }
/*-----------------------------------SLIDER------------------------------------------*/
#container {
    position: absolute;
    top: 88px;
    width: 100%;
    height: 800px;
}
        #mySlides > div img {
            width: 100%;
            height: 100%;
            min-height: 800px;
            max-height: 1200px;
        }
    .jFlowPrev span {
        position: absolute;
        bottom: 40%;
        left: 40px;
        display: inline-block;
        height: 86px;
        width: 46px;
        background: url("../images/slider/slider_arrows.png") no-repeat scroll 0 0 transparent;
        cursor: pointer;
    }
    .jFlowNext span {
        position: absolute;
        bottom: 40%;
        right: 40px;
        display: inline-block;
        height: 86px;
        width: 46px;
        background: url("../images/slider/slider_arrows.png") no-repeat scroll -46px 0 transparent;
        cursor: pointer;
    }
/*-------------------------------------CATALOG--------------------------------------*/
.catalog {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 26px 0;
    background: url("../images/header/bg_catalog.png") repeat;
    background-size: 8%;
    text-align: center;
}
.body-home .catalog {
    background: url("../images/header/bg_catalog_home.png") repeat;
}
    .catalog li {
        display: inline-table;
    }
        .catalog li a {
            overflow: hidden;
            display: block;
            width: 142px;
            height: 140px;
            background-color: rgba(255, 255, 255, 0.9);
            -webkit-border-radius: 71px;
            -moz-border-radius: 71px;
            border-radius: 71px;
            border: 1px solid #CFCFCE;
            text-decoration: none;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
        .body-home .catalog li a {
            border-color: #2B221D;
        }
        .catalog li a:hover {
            background-color: rgba(171, 148, 129, 0.4);
        }
        .body-home .catalog li a:hover {
            background-color: rgba(171, 148, 129, 0.65);
        }
            .box-catalog {
                position: relative;
                display: inline-block;
                height: 88px;
                line-height: 88px;
                text-align: center;
                -webkit-border-top-left-radius: 35px;
                -webkit-border-top-right-radius: 35px;
                -moz-border-radius-topleft: 35px;
                -moz-border-radius-topright: 35px;
                border-top-left-radius: 35px;
                border-top-right-radius: 35px;
            }
                .box-catalog img {
                    line-height: normal;
                    vertical-align: bottom;
                }
            .name-item-catalog {
                display: block;
                margin-top: 5px;
                text-transform: uppercase;
                text-decoration: none;
                font: 400 18px 'Helvetica Neue', sans-serif;
                color: #5a5a5a;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-content {
    padding-top: 35px;
    background: transparent;
}
.body-home .wrap-content {
    padding: 10px 0 70px;
    background: url("../images/bg_content.jpg") 0 535px repeat-x,
                url("../images/bg_goods.jpg") repeat-x;
}
    .header-level-two h2 {
        font: 400 50px 'Rosamunda Two', sans-serif;
        line-height: 72px;
        color: #5a5a5a;
    }
    .big-text {
        margin-bottom: 10px;
        font: 35px 'Rosamunda Two', sans-serif;
        color: #484848;
    }
        .list-goods {
            overflow: hidden;
        }
        .body-home .list-goods {
            margin-bottom: 45px;
            padding-bottom: 16px;
        }
            .list-goods li {
                position: relative;
                float: left;
                width: 290px;
                height: 412px;
                margin-bottom: 52px;
                margin-left: 74px;
                border: 1px solid #E8DACB;
            }
            .body-home .list-goods li {
                height: 420px;
                margin-bottom: 0;
                background: url("../images/content/bg_goods.png") no-repeat;
                background-size: 100% 100%;
                border: none;
            }
            .list-goods li:nth-child(3n+1){
                margin-left: 0;
            }
                .list-goods a {
                    position: absolute;
                    z-index: 2;
                    top: -1px;
                    right: -1px;
                    padding: 6px 8px;
                    border: 1px solid #E8DACB;
                    font: 400 17px 'Arial', sans-serif;
                    color: #7d6958;
                }
                .box-foto-goods {
                    height: 185px;
                    line-height: 185px;
                    text-align: center;
                }
                    .box-foto-goods img {
                        line-height: normal;
                        vertical-align: bottom;
                    }

            .header-goods h2 {
                font: 400 33px 'Helvetica Neue', sans-serif;
                line-height: 64px;
                text-align: center;
                color: #8f7b6a;
            }
            .body-home .header-goods h3 {
                font: 48px 'Rosamunda Two', sans-serif;
                text-align: center;
                color: #5a5a5a;
            }
            .price-goods {
                display: block;
                padding-right: 20px;
                margin-bottom: 15px;
                font: 34px 'Arial', sans-serif;
                color: #483b2f;
                text-align: right;
            }
            .weight-goods {
                position: relative;
                display: block;
                padding: 26px 0;
                background-color: #faf9f9;
                color: #93877c;
                font: 30px 'Arial', sans-serif;
                text-align: center;
            }
            .body-home .weight-goods {
                background: rgba(255, 255, 255, 0.1);
            }
            .weight-goods:before {
                content: '';
                display: block;
                position: absolute;
                top: -5px;
                left: 140px;
                width: 12px;
                height: 12px;
                background: url("../images/content/icon_goods.png") no-repeat;
                background-size: 100% 100%;
            }
            .bt-buy-goods {
                padding: 6px 17px;
                margin-left: 75px;
                background-color: #ffffff;
                border: 1px solid #E8DACB;
                font: 27px 'Arial', sans-serif;
                color: #483b2f;
                text-transform: uppercase;
                transition-timing-function: linear;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
            .body-home .bt-buy-goods {
                border-color: #5A5A5A;
            }
            .bt-buy-goods:hover {
                cursor: pointer;
                background-color: #faf9f9;
            }
            .bt-buy-goods:active,
            .body-home .bt-buy-goods:hover {
                background-color: #EAEAEA;
            }
            .body-home .bt-buy-goods:active {
                background-color: #DCD1C5;
            }

    .header-page {
        margin-bottom: 16px;
    }
        .header-page h1 {
            overflow: hidden;
            position: relative;
            text-transform: uppercase;
            font: 400 33px 'Arial', sans-serif;
            color: #8f7b6a;
        }
        .header-page h1:after {
            content: "";
            position: absolute;
            bottom: 6px;
            margin-left: 10px;
            width: 100%;
            height: 1px;
            background-color: #C7BFB8;
        }
        .body-home .header-page h1 {
            text-transform: none;
            font: 400 53px 'Rosamunda Two', sans-serif;
            color: #5a5a5a;
        }
        .body-home .header-page h1:after {
            bottom: 15px;
        }

    article {
        padding-bottom: 20px;
        font: 400 21px 'Arial', sans-serif;
    }
    .goods-card {
        padding-top: 14px;
        font-size: 19px;
    }
        .goods-card header {
            margin-bottom: 24px;
        }
            .goods-card header h1,
            .goods-card header h2 {
                font: 400 33px 'helvetica neue', sans-serif;
                line-height: 26px;
            }
        .goods-card-img {
            overflow: hidden;
            float: left;
            width: 264px;
            height: 335px;
            padding: 10px;
            margin: 0 20px 20px 0;
            border: 1px solid #E8DACB;
            line-height: 335px;
            text-align: center;
        }
            .goods-card-img img {
                line-height: normal;
                vertical-align: middle;
            }
        .goods-card .buy-goods {
            overflow: hidden;
            padding-top: 28px;
            margin-bottom: 32px;
        }
            .goods-card .buy-goods li {
                float: left;
                width: 154px;
                margin: 0 13px;
                text-align: center;
            }
            .goods-card .buy-goods li:last-child {
                margin-right: 0;
            }
                .goods-card .weight-price {
                    overflow: hidden;
                    height: 76px;
                    width: 152px;
                    padding: 35px 0;
                    margin-bottom: 22px;
                    border: 1px solid #E8DACB;
                    -webkit-border-radius: 74px;
                    -moz-border-radius: 74px;
                    border-radius: 74px;
                    text-align: center;
                }
                    .goods-card span {
                        display: block;
                    }
                    .goods-card .price {
                        font: 700 38px 'Arial', sans-serif;
                        color: #483b2f;
                    }
                    .goods-card .weight {
                        font: 400 38px 'Arial', sans-serif;
                        color: #8f7b6a;
                    }
                .goods-card .buy-goods .buy {
                    height: 32px;
                    width: 143px;
                    background-color: #E1CEBA;
                    border: 1px solid #8F7B6A;
                    -webkit-border-radius: 1px;
                    -moz-border-radius: 1px;
                    border-radius: 1px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font: 700 16px 'Arial', sans-serif;
                    line-height: 32px;
                    cursor: pointer;
                    color: #8f7b6a;
                    -webkit-transition-duration: 0.2s;
                    -o-transition-duration: 0.2s;
                    -moz-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                }
                .goods-card .buy-goods .buy:hover {
                    background-color: #ECD9C5;
                }
                .goods-card .buy-goods .buy:active {
                    background-color: #F8E5D1;
                }
        article p {
            line-height: 27px;
        }
        .goods-card p {
            line-height: 24px;
        }
/*------------------------------------CONTACTS--------------------------------------*/
    .our-contacts {
        padding: 8px 0 50px;
        font: 400 25px 'Arial', sans-serif;
        line-height: 34px;
    }
        .our-contacts header h2 {
            margin-bottom: 33px;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
        }

        .adds {
            margin-bottom: 32px;
        }

        .operation-mode {
            margin-bottom: 43px;
        }
            .operation-mode td {
                padding-right: 12px;
            }

        .our-contacts .map {
            overflow: hidden;
            width: 550px;
            height: 350px;
            margin-bottom: 32px;
            border: 2px solid #B8B8B4;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-shadow: 0 0 8px 4px rgba(213, 213, 213, 1);
            -moz-box-shadow: 0 0 8px 4px rgba(213, 213, 213, 1);
            box-shadow: 0 0 8px 4px rgba(213, 213, 213, 1);
        }

        .tel-mail h3{
            margin-bottom: 30px;
            font: 400 25px 'Arial', sans-serif;
        }
        .tel-mail span {
            display: block;
            line-height: 31px;
        }
/*-----------------------------------PAGINATION-------------------------------------*/
    .pagination {
        margin-bottom: 22px;
        text-align: center;
    }
        .pagination li {
            display: inline-table;
            margin: 0 7px;
        }
            .pagination li a {
                display: block;
                height: 20px;
                width: 20px;
                background-color: #D7CEC5;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                text-decoration: none;
                font: 400 13px 'Arial', sans-serif;
                line-height: 22px;
                color: #7d6958;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
            .pagination li a:hover,
            .pagination li.active a {
                background-color: #A9998C;
            }
/*--------------------------------------CART----------------------------------------*/
.empty-cart {
    display: none;
    padding-bottom: 150px;
    line-height: 32px;
}

.cart-with-goods {
    display: block;
    padding-top: 8px;
}
    .cart-with-goods header {
        margin-bottom: 32px;
        text-transform: uppercase;
        font: 300 33px 'Helvetica Neue', sans-serif;
    }

    .table-order {
        margin-bottom: 52px;
        text-align: center;
        font-family: 'Helvetica Neue', sans-serif;
        color: #616161;
    }
    .table-order td {
        border: 1px solid #E8DACB;
    }
        .table-order tr:first-child {
            height: 29px;
            font-size: 20px;
        }

        .table-order .tr-goods {
            height: 270px;
            vertical-align: top;
        }
            .tr-goods td {
                padding: 10px 2px;
            }
            .delete-goods {
                width: 77px;
            }
                .delete-goods a {
                    font-size: 34px;
                    color: #ED6B6B;
                }
                .delete-goods a:active {
                    color: #FD8080;
                }
            .td-img {
                overflow: hidden;
                width: 235px;
                text-align: center;
            }
                .td-img img {
                    margin-top: 10px;
                }
            .product-name h3 {
                width: 226px;
                padding: 3px 7px;
                font-weight: 400;
                font-size: 23px;
                text-align: left;
            }
            .quantity-goods {
                width: 130px;
            }
                .quantity-goods input[type="text"] {
                    width: 115px;
                    height: 31px;
                    padding-right: 4px;
                    margin-bottom: 2px;
                    border: 1px solid #E8DACB;
                    font: 400 23px 'Helvetica Neue', sans-serif;
                    text-align: right;
                    color: #616161;
                }
                .quantity-goods span {
                    display: block;
                    font-size: 19px;
                }
            .price,
            .sum {
                font-weight: 700;
            }

        .tr-total {
            height: 66px;
            background-color: #C2B1A0;
        }
            .tr-total td {
                border-color: #C2B1A0;
            }
            .tr-total .total {
                width: 270px;
                padding-right: 20px;
                text-align: right;
                font: 400 26px 'Arial', sans-serif;
            }

    .table-request-form {
        margin-bottom: 50px;
        font: 400 25px 'Helvetica Neue', sans-serif;
        color: #616161;
    }
    .table-request-form tr {
        height: 46px;
    }
    .table-request-form td {
        width: 711px;
    }
    .table-request-form th,
    .table-request-form td {
        border: 1px solid #C2B1A0;
    }
        .table-request-form th {
            width: 260px;
            padding: 0 5px 0 15px;
            border-right: 2px solid #C7BFB8;
            font-weight: 400;
            text-align: left;
        }
            .table-request-form input {
                height: 100%;
                width: 681px;
                padding: 0 15px;
                border: none;
                font: 400 23px 'Helvetica Neue', sans-serif;
                color: #616161;
            }
            .table-request-form input[type="submit"] {
                height: 41px;
                width: auto;
                min-width: 200px;
                padding: 0 10px;
                margin: 6px;
                border: 1px solid #E8DACB;
                -webkit-border-radius: 1px;
                -moz-border-radius: 1px;
                border-radius: 1px;
                background-color: transparent;
                text-transform: uppercase;
                font: 400 24px 'Arial', sans-serif;
                color: #897867;
            }
            .table-request-form input[type="submit"]:active {
                background-color: #E1E1E1;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
    position: relative;
    padding-bottom: 20px;
    background-color: transparent;
}
.body-home .wrap-footer {
    background-color: #A28778;
    border-top: 1px solid #848484;
}
    .wrap-top-footer {
        background: url("../images/footer/footer-top_bg.png") repeat;
    }
    .body-home .wrap-top-footer {
        position: absolute;
        top: -100px;
        width: 100%;
        background: transparent;
    }
        .top-footer {
            overflow: hidden;
            width: 1024px;
            padding: 6px 0 29px;
            margin: 0 auto;
        }
        .body-home .top-footer {
            margin: 14px auto 30px;
        }
            .top-footer .header-level-two h2 {
                margin-top: 23px;
                font: 400 33px 'Arial', sans-serif;
                text-transform: uppercase;
                color: #8f7b6a;
            }
            .body-home .top-footer .header-level-two h2 {
                margin: 0;
                padding-left: 12px;
                font: 400 50px 'Rosamunda Two', sans-serif;
                text-transform: none;
                color: #5a5a5a;
            }
            .list-soc-links {
                margin-top: 10px;
            }
                .list-soc-links li {
                    float: left;
                    margin-right: 33px;
                }
                    .list-soc-links a {
                        display: block;
                        overflow: hidden;
                        height: 49px;
                        width: 49px;
                        -webkit-box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.3);
                        -moz-box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.3);
                        box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.3);
                    }
                        .list-soc-links a i {
                            height: 50px;
                            width: 50px;
                            line-height: 50px;
                            text-align: center;
                            color: #fff;
                        }
                        .soc-vk i {
                            background-color: #6996C7;
                            font-size: 24px;
                        }
                        .soc-vk a:hover i {
                            background-color: rgba(105, 150, 199, 0.8);
                        }
                        .soc-tw i {
                            background-color: #28C3FF;
                            font-size: 23px;
                        }
                        .soc-tw a:hover i {
                            background-color: rgba(40, 195, 255, 0.8);
                        }
                        .soc-fb i {
                            background-color: #496194;
                            font-size: 23px;
                        }
                        .soc-fb a:hover i {
                            background-color: rgba(73, 97, 148, 0.8);
                        }
                        .soc-od a {
                            background: url("../images/footer/icon_odnoklassniki.png") 18px 15px no-repeat #FF9C43;
                            background-size: 25%;
                            text-indent: -9999px;
                        }
                        .soc-od a:hover {
                            background-color: rgba(255, 156, 67, 0.8);
                        }
                        .soc-gg i {
                            background-color: #FF6D4A;
                            font-size: 18px;
                        }
                        .soc-gg a:hover i {
                            background-color: rgba(255, 109, 74, 0.8);
                        }

    .footer {
        overflow: hidden;
        padding-top: 14px;
        color: #5a5a5a;
    }
    .body-home .footer {
        padding-top: 20px;
    }
        a.logo-footer {
            float: left;
            width: 118px;
            height: 118px;
            margin-right: 10px;
            background: #f1f1f1; /* Old browsers */
            background: -moz-linear-gradient(top,  #f1f1f1 0%, #e0ccbc 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e0ccbc)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e0ccbc 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #f1f1f1 0%,#e0ccbc 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #f1f1f1 0%,#e0ccbc 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #f1f1f1 0%,#e0ccbc 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e0ccbc',GradientType=0 ); /* IE6-9 */
            border: 1px solid #664A3C;
            font: 35px 'Rosamunda Two', sans-serif;
            line-height: 0.6;
            text-decoration: none;
            -webkit-box-shadow: inset 0 0 4px 0 rgba(50, 50, 50, 0.5);
            -moz-box-shadow: inset 0 0 4px 0 rgba(50, 50, 50, 0.5);
            box-shadow: inset 0 0 4px 0 rgba(50, 50, 50, 0.5);
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
        }
        a.logo-footer:hover {
            background: #fcfcfc; /* Old browsers */
            background: -moz-linear-gradient(top,  #fcfcfc 0%, #ebd7c7 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ebd7c7)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ebd7c7 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #fcfcfc 0%,#ebd7c7 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #fcfcfc 0%,#ebd7c7 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #fcfcfc 0%,#ebd7c7 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebd7c7',GradientType=0 ); /* IE6-9 */
        }
        .body-home a.logo-footer {
            background: #D6BFAE;
        }
        .body-home a.logo-footer:hover {
            background: #E5CEBD;
        }
            .logo-footer > span {
                display: block;
                margin-top: 35px;
                margin-left: 6px;
            }
                .logo-footer > span span {
                    display: block;
                    margin-left: 10px;
                }

        .box-contact {
            float: left;
            overflow: hidden;
            margin-top: 15px;
            font-family: 'PT Sans', sans-serif;
        }
            .fa-phone-footer {
                float: left;
                width: 34px;
                height: 34px;
                margin-right: 14px;
                border: 2px solid #5a5a5a;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }
                .fa-phone-footer:before {
                    display: block;
                    margin-top: 3px;
                    font-size: 24px;
                }
            .phone-footer {
                float: left;
                font-size: 32px;
            }
            .address {
                display: block;
                margin-top: 22px;
                font-size: 20px;
                font-style: italic;
                text-align: center;
            }

        .list-right-footer {
            overflow: hidden;
            float: right;
            width: 350px;
        }
            .list-right-footer li {
                float: left;
                width: 175px;
                font: 20px 'PT Sans', sans-serif;
            }
                .list-right-footer a {
                    font: italic 20px 'PT Sans', sans-serif;
                    text-decoration: none;
                }
                .list-right-footer a:hover {
                    text-decoration: underline;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.p-left5 {
    padding-left: 5px;
}
.m-bottom50 {
    margin-bottom: 50px;
}